.hex {
    margin-top: 30px;
    width: 104px;
    height: 60px;
    background-color: #b0b3b4;
    border-color: #b0b3b4;
    position: relative;
    display: inline-block;
}
.hex:before {
    content: "";
    width: 0; height: 0;
    border-bottom: 30px solid;
    border-color: inherit;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    position: absolute;
    top: -30px;
}
.hex:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -30px;
    border-top: 30px solid;
    border-color: inherit;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}

.hex.six-offset {
  margin-left: 54px;
}

.hex.five-offset {
    margin-left: 108px;
  }

.hex.four-offset {
  margin-left: 162px;
}

.hex.brick {
    background-color: rgb(175, 0, 0);
    border-color: rgb(175, 0, 0);
}

.hex.wheat {
    background-color: rgb(225, 225, 0);
    border-color: rgb(225, 225, 0);
}

.hex.wood {
    background-color: rgb(100, 50, 0);
    border-color: rgb(100, 50, 0);
}

.hex.ore {
    background-color: rgb(105, 105, 105);
    border-color: rgb(105, 105, 105);
}

.hex.sheep {
    background-color: rgb(3, 100, 0);
    border-color: rgb(3, 100, 0);
}

.hex.water {
    background-color: #27aae1;
    border-color: #27aae1;
}

.hex.desert {
    background-color: #ce9120;
    border-color: #ce9120;
}
